.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.wrapper div {
    flex-basis: 50%;
    text-align: center;
    margin-bottom: 50px;
}
button {
    padding: 10px 50px;
}
.wrapper .top,
.wrapper .bottom {
    margin-bottom: 0;
}

.content {
    padding: 30px;
    color: #787878;
    background-color: #fcf7f8;
    border: 1px solid rgba(0,0,0,.05);
  }

  kendo-pdf-document .k-toolbar {
    display: none;
  }

  kendo-pdf-document .k-editor {
    height: 100% !important;
    border: none;
  }