<div class="container">
    <div class="row">
        <div class="col-md-12 col-12 col-lg-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
                <a class="navbar-brand" href="#">OPENEYES</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" routerLink="/form">Form</a>
                        <a class="nav-item nav-link" routerLink="/grid">Sample Grid</a>
                        <a class="nav-item nav-link" routerLink="/country-list">Country List</a>
                        <a class="nav-item nav-link" routerLink="/progress-bar">Progress Bar</a>
                        <a class="nav-item nav-link" routerLink="/tab-panel">Tab panel</a>
                        <a class="nav-item nav-link" routerLink="/other">Others</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>