$thememaincolor: #0061AF;
$themeoptioncolor: #A6CE39;
$bodycolor: #f4f5fd;
$white:#fff;
$black:#000;
$red :red;
$darkgrey: #263238;
$darklightgrey: #6d6f70;
$lightgrey:#ced4da;
$grey: #ccc;
$lightergrey:#eff2f7;
$title_grey:#FBFBFE;
$successgreen:#1bc943;
$pendingblue: #0061AF;
$yellow: #E4AD22;
$lightred:#fff9f9;
$lightsuccessgreen:#f2fcf5;
$lightpendingblue:#f7fafc;
$lightgreynosch:#f9fafc;

