@import url('https://fonts.googleapis.com/css?family=Signika&display=swap');

$fontweightlighter: 100;
$fontweightlight: 300;
$fontweightregular: 400;
$fontweightsemibold: 500;
$fontweightsemibolder: 600;
$fontweightbolder: 700;
$fontweightbold: 700;
$fontweightblack: 900;
$fontfamily: 'Signika', sans-serif;
$fontawesome: "FontAwesome";
$fontsize: 15px;