$number0:0px;
$number1:1px;
$number2:2px;
$number3:3px;
$number4:4px;
$number5:5px;
$number6:6px;
$number7:7px;
$number8:8px;
$number9:9px;
$number10:10px;
$number11:11px;
$number12:12px;
$number13:13px;
$number14:14px;
$number15:15px;
$number16:16px;
$number17:17px;
$number18:18px;
$number19:19px;
$number20:20px;
$number21:21px;
$number22:22px;
$number23:23px;
$number24:24px;
$number25:25px;
$number26:26px;
$number27:27px;
$number28:28px;
$number29:29px;
$number30:30px;
$number31:31px;
$number32:32px;
$number33:33px;
$number34:34px;
$number35:35px;
$number36:36px;
$number37:37px;
$number38:38px;
$number39:39px;
$number40:40px;
$number41:41px;
$number42:42px;
$number43:43px;
$number44:44px;
$number45:45px;
$number46:46px;
$number47:47px;
$number48:48px;
$number49:49px;
$number50:50px;
$number55:55px;
$number60:60px;
$number65:65px;
$number70:70px;
$number73:73px;
$number75:75px;
$number80:80px;
$number85:85px;
$number90:90px;
$number95:95px;
$number100:100px;
$number110:110px;
$number115:115px;
$number120:120px;
$number125:125px;
$number150:150px;
$number170:170px;
$number210:210px;
$number250:250px;
$number300:300px;
$number345:345px;
$number370:370px;
$number400:400px;
$number450:450px;
$number470:470px;
$number500:500px;
$number600:600px;
$width3per:3%;
$width5per:5%;
$width10per:10%;
$width15per:15%;
$width20per:20%;
$width25per:25%;
$width30per:30%;
$width35per:35%;
$width40per:40%;
$width45per:45%;
$width50per:50%;
$width55per:55%;
$width60per:60%;
$width65per:65%;
$width70per:70%;
$width75per:75%;
$width80per:80%;
$width85per:85%;
$width90per:90%;
$width95per:95%;
$width100per:100%;
