<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-12 col-8 col-lg-8">
      <h2>Kendo UI Demo Form</h2>

      <form class="form-validate" role="form" #countryForm="ngForm" (ngSubmit)="addUpdate(countryForm)">

        <div class="form-group">
          <label>Text Box</label>
          <input type="text" kendoTextBox [(ngModel)]="DemoEntity.Text" #Text="ngModel" name="Text"
            pattern="[a-zA-Z\-.()',]+[a-zA-Z\-.()',\s]{2,}" maxlength="50" required />
          <span *ngIf="(Text.dirty && Text.invalid) || (Text.pristine && submitted)">
            <span class="error_span error" *ngIf="Text.errors.required || (Text.pristine && submitted)">Please enter a
              text</span>
            <span class="error_span error" *ngIf="Text.errors && Text.errors.pattern">Please enter a valid text</span>
          </span>
        </div>

        <div class="form-group">
          <label>Text Area</label>
          <textarea kendoTextArea [(ngModel)]="DemoEntity.TextArea" #TextArea="ngModel" name="TextArea"></textarea>
        </div>
        <div class="form-group checkbox_block">
          <label>Checkbox</label>
          <input type="checkbox" id="Checkbox1" kendoCheckBox [(ngModel)]="DemoEntity.Checkbox1" #Checkbox1="ngModel" name="Checkbox1"
            value="checkbox1" /> <label for="Checkbox1">Checkbox1</label>
          <input type="checkbox" id="Checkbox2" kendoCheckBox [(ngModel)]="DemoEntity.Checkbox2" #Checkbox2="ngModel" name="Checkbox2"
            value="checkbox2" /> <label for="Checkbox2">Checkbox2</label>
          <input type="checkbox" id="Checkbox3" kendoCheckBox [(ngModel)]="DemoEntity.Checkbox3" #Checkbox3="ngModel" name="Checkbox3"
            value="checkbox3" /> <label for="Checkbox3">Checkbox3</label>
        </div>
        <div class="form-group radio_block">
          <label>Radio</label>
          <input type="radio" id="radio1" name="Radio" value="radio1" [(ngModel)]="DemoEntity.Radio" #Radio="ngModel"
            kendoRadioButton />
            <label for="radio1">Radio1</label>
          <input type="radio" id="radio2" name="Radio" value="radio2" [(ngModel)]="DemoEntity.Radio" #Radio="ngModel"
            kendoRadioButton />
          <label for="radio2">Radio2</label>
          <input type="radio" id="radio3" name="Radio" value="radio3" [(ngModel)]="DemoEntity.Radio" #Radio="ngModel"
            kendoRadioButton />
          <label for="radio3">Radio3</label>
        </div>
        <div class="form-group">
          <label>Dropdown</label>
          <kendo-dropdownlist [data]="listItems" [(ngModel)]="DemoEntity.Dropdown" #Dropdown="ngModel" name="Dropdown">
          </kendo-dropdownlist>
        </div>
        <div class="form-group">
          <label>Dropdown with Filter</label>
          <kendo-dropdownlist [data]="data" [filterable]="true" [textField]="'name'" [valueField]="'id'"
            [valuePrimitive]="true" (filterChange)="handleFilter($event)" [(ngModel)]="DemoEntity.FilterDropdown"
            #FilterDropdown="ngModel" name="FilterDropdown" required></kendo-dropdownlist>
          <span *ngIf="(FilterDropdown.dirty && FilterDropdown.invalid) || (FilterDropdown.pristine && submitted)">
            <span class="error_span error"
              *ngIf="FilterDropdown.errors.required || (FilterDropdown.pristine && submitted)">Please select a
              value</span>
          </span>
        </div>
        <div class="form-group">
          <label>Dropdown with Grouping</label>
          <kendo-dropdownlist [data]="groupedData" [textField]="'name'" [valuePrimitive]="true" [valueField]="'cid'"
            [(ngModel)]="DemoEntity.GroupDropdown" #GroupDropdown="ngModel" name="GroupDropdown">
          </kendo-dropdownlist>
        </div>
        <div class="form-group">
          <label>MultiSelect Dropdown</label>
          <kendo-multiselect [data]="listItems" [(ngModel)]="DemoEntity.MultiDropdown" #MultiDropdown="ngModel"
            name="MultiDropdown"></kendo-multiselect>
        </div>
        <div class="form-group">
          <label>MultiSelect Dropdown with Filter</label>
          <kendo-multiselect #list [data]="data2" [filterable]="true" textField="CountryName" valueField="CountryId"
            [valuePrimitive]="true" placeholder="Country" [(ngModel)]="DemoEntity.MulFilDropdown"
            #MulFilDropdown="ngModel" name="MulFilDropdown">
          </kendo-multiselect>
        </div>
        <div class="form-group">
          <label>Date Picker</label>
          <kendo-datepicker [focusedDate]="focusedDate" [(ngModel)]="DemoEntity.SelectedDate" #SelectedDate="ngModel"
            name="SelectedDate"></kendo-datepicker>
        </div>
        <div class="form-group">
          <h6>Cascading DropDown</h6>
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <label>Category</label>
              <kendo-dropdownlist [data]="dataCategory" [value]="selectedCategory" [defaultItem]="defaultItemCategories"
                [textField]="'categoryName'" [valueField]="'categoryId'" (valueChange)="handleCategoryChange($event)"
                [valuePrimitive]="true" [(ngModel)]="DemoEntity.Category" #Category="ngModel" name="Category">
              </kendo-dropdownlist>
            </div>
            <div class="col-xs-12 col-sm-4">
              <label>Product</label>
              <kendo-dropdownlist [disabled]="isDisabledProducts" [defaultItem]="defaultItemProducts"
                [data]="dataResultProducts" [value]="selectedProduct" [textField]="'productName'"
                [valueField]="'productId'" (valueChange)="handleProductChange($event)" [valuePrimitive]="true"
                [(ngModel)]="DemoEntity.Product" #Product="ngModel" name="Product">
              </kendo-dropdownlist>
            </div>
            <div class="col-xs-12 col-sm-4">
              <label>Order</label>
              <kendo-dropdownlist [disabled]="isDisabledOrders" [defaultItem]="defaultItemOrders"
                [data]="dataResultOrders" [value]="selectedOrder" [textField]="'orderName'" [valueField]="'orderId'"
                (valueChange)="handleOrderChange($event)" [valuePrimitive]="true" [(ngModel)]="DemoEntity.Order"
                #Order="ngModel" name="Order">
              </kendo-dropdownlist>
            </div>
          </div>
        </div>
          <button kendoButton [primary]="true" class="mb-3" type="submit" [disabled]="btn_disable">
            Submit
          </button>
          <div class="clearfix"></div>
        {{ DemoEntity | json }}
      </form>
    </div>
  </div>
</div>